@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@model SeniorConnect.WebApp.Pages.ActivityPages.ActivitiesCalendarModel
@using System.Linq

@{
    ViewData["Title"] = "Activiteiten Agenda";
}

@if (Model.Activities != null && Model.Activities.Count() > 0)
{
    <a href="/ActivityPages/CreateNewActivity" class="btn btn-primary mb-3">Nieuwe Activiteit Hosten</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Datum</th>
                <th>Starttijd</th>
                <th>Stad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model.Activities)
            {

                <tr>
                    <td>@activity.Title</td>
                    <td>@activity.Date</td>
                    <td>@activity.StartTime</td>
                    <td>@activity.City</td>
                    <td><a href="/ActivityPages/Details/@activity.Id" class="btn">Bekijk details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No activity found.</p>
}
