
@page
@model SeniorConnect.WebApp.Pages.ActivityPages.AllActivitiesListedModel
@{
    ViewData["Title"] = "Activiteiten Agenda";
}

<main class="our-activities">
    <h1>Activiteiten Agenda</h1>

    <div class="cards">
        @* @foreach (var activity in Model.ActivityFormModel) 
        {
            <div class="card">
                <h2>@activity.Name</h2>
                <p>Datum: @activity.Date.ToString("dd-MM-yyyy")</p>
                <p>Starttijd: @activity.StartTime.ToString(@"hh\:mm")</p>
                <p>Stad: @activity.City</p>
        <a href="/Activities/Details/@activity.Id" class="btn">Bekijk details</a>*@
            </div>
        }
    </div>
</main>
