@page
@model SeniorConnect.WebApp.Pages.ActivityPages.CreateNewActivityModel
@{
    ViewData["Title"] = "Registreer een nieuwe activiteit";
}

<header class="content-header">@ViewData["Title"]</header>

<form method="post">
    <div class="form-group">
        <label asp-for="ActivityFormModel.Title">Titel: </label>
        <input asp-for="ActivityFormModel.Title" class="form-control" />
        <span asp-validation-for="ActivityFormModel.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.Description">Omschrijving: </label>
        <textarea asp-for="ActivityFormModel.Description" class="form-control"></textarea>
        <span asp-validation-for="ActivityFormModel.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.Date">Datum: </label>
        <input asp-for="ActivityFormModel.Date" type="date" class="form-control" />
        <span asp-validation-for="ActivityFormModel.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.StartTime">Start tijd: </label>
        <input asp-for="ActivityFormModel.StartTime" type="time" class="form-control" />
        <span asp-validation-for="ActivityFormModel.StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.EndTime">Eind tijd: </label>
        <input asp-for="ActivityFormModel.EndTime" type="time" class="form-control" />
        <span asp-validation-for="ActivityFormModel.EndTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.MaxParticipants">Maximaal deelnemers: </label>
        <input asp-for="ActivityFormModel.MaxParticipants" type="number" class="form-control" />
        <span asp-validation-for="ActivityFormModel.MaxParticipants" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.StreetName">Straat naam: </label>
        <input asp-for="ActivityFormModel.StreetName" class="form-control" />
        <span asp-validation-for="ActivityFormModel.StreetName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.HouseNumber">Huis nummer: </label>
        <input asp-for="ActivityFormModel.HouseNumber" class="form-control" />
        <span asp-validation-for="ActivityFormModel.HouseNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.Zipcode">Postcode: </label>
        <input asp-for="ActivityFormModel.Zipcode" class="form-control" />
        <span asp-validation-for="ActivityFormModel.Zipcode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.City">Stad: </label>
        <input asp-for="ActivityFormModel.City" class="form-control" />
        <span asp-validation-for="ActivityFormModel.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActivityFormModel.Country">Land: </label>
        <input asp-for="ActivityFormModel.Country" class="form-control" />
        <span asp-validation-for="ActivityFormModel.Country" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Indienen</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
