@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.LoginModel
@{
    //https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-8.0&tabs=visual-studio
    
    ViewData["Title"] = "Login";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="form-container">
    <form method="POST">
        <label for="email">Email:</label>
        <input />

        <label for="password">Password:</label>
        <input /> 


        
    </form>
</div>

<div class="form-container">
    <form method="post" asp-antiforgery="true">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" class="form-control" asp-for="User.Email" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" id="Password" class="form-control" asp-for="User.Password" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div><br />

        <button type="submit" class="btn btn-primary">Login</button> <br /> <br />


        <label>Are you new here? Please click the button to register</label> </br>
        <button type="button" onclick="location.href='@Url.Page("/IdentityAccessManagement/Register")'">Register</button>

    </form>
</div>Password