@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.LoginModel
@{
    //https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-8.0&tabs=visual-studio
    
    ViewData["Title"] = "Login";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="form-container">
    <form method="POST">
        <label for="email">Email:</label>
        <input />

        <label for="password">Password:</label>
        <input />

        <input type="login" value="Login">
        <button type="button" onclick="window.location.href='login.html'">Return to Login</button>
    </form>
</div>