@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.LoginModel
@{
    //https://learn.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-8.0&tabs=visual-studio
    
    ViewData["Title"] = "Login";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="login-container">
    <form method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" required />
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required />
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="form-group">
            <p>Are you new here? Please click the button to register:</p>
            <button type="button" class="btn" onclick="location.href='@Url.Page("/IdentityAccessManagement/UserRegistration")'">Register</button>
        </div>
    </form>
</div>