@page

@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.LoginModel
@{
    ViewData["Title"] = "Login";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="login-container">
    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="form-group">
        <p>Bent u nieuw hier? Gebruik de knop om te registreren:</p>
        <button type="button" class="btn" onclick="location.href='@Url.Page("/IdentityAccessManagement/UserRegistration")'">Registreren</button>
    </div>
</div>