@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.RegisterModel
@{
    ViewData["Title"] = "Registreer";
}

<header class="content-header">@ViewData["Title"]</header>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<section class="login-container">
    <h1>Registreer als nieuwe gebruiker</h1>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="UserFormModel.FirstName">Voornaam: </label>
            <input asp-for="UserFormModel.FirstName" class="form-control" />
            <span asp-validation-for="UserFormModel.FirstName" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.LastName">Achternaam: </label>
            <input asp-for="UserFormModel.LastName" class="form-control" />
            <span asp-validation-for="UserFormModel.LastName" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Email">Email: </label>
            <input asp-for="UserFormModel.Email" class="form-control" />
            <span asp-validation-for="UserFormModel.Email" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Password">Wachtwoord: </label>
            <input asp-for="UserFormModel.Password" class="form-control" type="password" />
            <span asp-validation-for="UserFormModel.Password" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.ConfirmPassword">Herhaal wachtwoord: </label>
            <input asp-for="UserFormModel.ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="UserFormModel.ConfirmPassword" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.DateOfBirth">Geboortedatum: </label>
            <input asp-for="UserFormModel.DateOfBirth" class="form-control" type="date" />
            <span asp-validation-for="UserFormModel.DateOfBirth" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Gender">Geslacht: </label>
            <select asp-for="UserFormModel.Gender" class="form-control">
                <option value="">Selecteer uw geslacht</option>
                <option value="M">Man</option>
                <option value="F">Vrouw</option>
                <option value="N">Zeg ik liever niet</option>
            </select>
            <span asp-validation-for="UserFormModel.Gender" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Origin">Hoe hoorde u van ons: </label>
            <select asp-for="UserFormModel.Origin" class="form-control">
                <option value="">Maak een keuze</option>
                <option value="Social Media">Sociale Media</option>
                <option value="Friend Referral">Vriend verwijzing</option>
                <option value="Advertisement">Advertentie</option>
                <option value="Search Engine">Search Engine</option>
            </select>
            <span asp-validation-for="UserFormModel.Origin" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.MaritalStatus">Burgerlijke staat: </label>
            <select asp-for="UserFormModel.MaritalStatus" class="form-control">
                <option value="">Selecteer uw burgerlijke staat</option>
                <option value="Single">Single</option>
                <option value="Married">Getrouwd</option>
                <option value="Divorced">Gescheiden</option>
                <option value="Widowed">Weduwe</option>
            </select>
            <span asp-validation-for="UserFormModel.MaritalStatus" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.StreetName">Straatnaam: </label>
            <input asp-for="UserFormModel.StreetName" class="form-control" />
            <span asp-validation-for="UserFormModel.StreetName" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.HouseNumber">Huisnummer: </label>
            <input asp-for="UserFormModel.HouseNumber" class="form-control" />
            <span asp-validation-for="UserFormModel.HouseNumber" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Zipcode">Postcode: </label>
            <input asp-for="UserFormModel.Zipcode" class="form-control" />
            <span asp-validation-for="UserFormModel.Zipcode" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.City">Stad: </label>
            <input asp-for="UserFormModel.City" class="form-control" />
            <span asp-validation-for="UserFormModel.City" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserFormModel.Country">Land: </label>
            <input asp-for="UserFormModel.Country" class="form-control" />
            <span asp-validation-for="UserFormModel.Country" class="error-message"></span>
        </div>
        <button type="submit" class="btn">Registreer</button>
    </form>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
