@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="form-container">
    <form method="POST">
        <label >First Name:</label>
        <input asp-for="Registration.FirstName" />

        <label>Last Name:</label>
        <input asp-for="Registration.LastName" required>

        <label for="email">Email:</label>
        <input asp-for="Registration.EmailAddress" />

        <label for="password">Password:</label>
        <input asp-for="Registration.Password" />

        <label for="confirmPassword">Confirm Password:</label>
        <input asp-for="Registration.ConfirmPassword" />

        <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='login.html'">Return to Login</button>
    </form>
</div>