@page
@model SeniorConnect.WebApp.Pages.IdentityAccessManagement.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<header class="content-header">@ViewData["Title"]</header>
<div class="form-container">
    <form method="POST">
        <label >First Name:</label> 
        <input asp-for="Registration.FirstName" /> <br></br>

        <label>Last Name:</label>
        <input asp-for="Registration.LastName" required> <br></br>

        <label>Email:</label>
        <input asp-for="Registration.EmailAddress" /> <br></br>

        <label>Password:</label>
        <input asp-for="Registration.Password" /> <br></br>

        <label>Confirm Password:</label>
        <input asp-for="Registration.ConfirmPassword" /> <br></br>

        <input type="submit" value="Submit">
        <button type="button" onclick="window.location.href='login.html'">Return to Login</button>
    </form>
</div>