@page
@model UpdatePersonDataModel
@{
}
<h1>Change your personal data here</h1>

<div class="form-container">
    <form method="post" asp-antiforgery="true">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" id="FirstName" class="form-control" asp-for="UserFormModel.FirstName" />
            <span asp-validation-for="UserFormModel.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" id="LastName" class="form-control" asp-for="UserFormModel.LastName" />
            <span asp-validation-for="UserFormModel.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Iban">Iban</label>
            <input type="Iban" id="Iban" class="form-control" asp-for="UserFormModel.Iban" />
            <span asp-validation-for="UserFormModel.Iban" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text" id="Gender" class="form-control" asp-for="UserFormModel.Gender" />
            <span asp-validation-for="UserFormModel.Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="gender" id="Gender" class="form-control" asp-for="UserFormModel.Gender" />
            <span asp-validation-for="UserFormModel.Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Iban">Iban</label>
            <input type="Iban" id="Iban" class="form-control" asp-for="UserFormModel.Iban" />
            <span asp-validation-for="UserFormModel.Iban" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="StreetName">StreetName</label>
            <input type="StreetName" id="StreetName" class="form-control" asp-for="UserFormModel.StreetName" />
            <span asp-validation-for="UserFormModel.StreetName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="HouseNumber">HouseNumber</label>
            <input type="HouseNumber" id="HouseNumber" class="form-control" asp-for="UserFormModel.HouseNumber" />
            <span asp-validation-for="UserFormModel.HouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Gender">Zipcode</label>
            <input type="Zipcode" id="Zipcode" class="form-control" asp-for="UserFormModel.Zipcode" />
            <span asp-validation-for="UserFormModel.Zipcode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="City">City</label>
            <input type="City" id="City" class="form-control" asp-for="UserFormModel.City" />
            <span asp-validation-for="UserFormModel.City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Country">Country</label>
            <input type="Country" id="Country" class="form-control" asp-for="UserFormModel.Country" />
            <span asp-validation-for="UserFormModel.Country" class="text-danger"></span>
        </div>
     </form>
</div>