@page
@model UpdatePersonDataModel
@{
    ViewData["Title"] = "Update Personal Data";
}

<h1>Change Your Personal Data</h1>

<div class="form-container">
    <form method="post" asp-antiforgery="true">
        <fieldset>
            <legend>Personal Data</legend>
            <div class="form-group">
                <label asp-for="User.FirstName"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Address Data</legend>
            <div class="form-group">
                <label asp-for="AddressForm.StreetName"></label>
                <input asp-for="AddressForm.StreetName" class="form-control" />
                <span asp-validation-for="AddressForm.StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressForm.HouseNumber"></label>
                <input asp-for="AddressForm.HouseNumber" class="form-control" />
                <span asp-validation-for="AddressForm.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressForm.Zipcode"></label>
                <input asp-for="AddressForm.Zipcode" class="form-control" />
                <span asp-validation-for="AddressForm.Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressForm.City"></label>
                <input asp-for="AddressForm.City" class="form-control" />
                <span asp-validation-for="AddressForm.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressForm.Country"></label>
                <input asp-for="AddressForm.Country" class="form-control" />
                <span asp-validation-for="AddressForm.Country" class="text-danger"></span>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
